html {
  height: 100%;
}

body {
  text-align: center;
  height: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url("https://pics.freeartbackgrounds.com/midle/Green_Grass_Texture-435.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#game, #death {
  display: none;
  border: 2px solid #111111;
  margin-top: 5%;
  border-radius: 10px;
}

.btn {
  margin-top: 4%;
  background-color: #111111;
  color: #f5f5f5;
}

.btn:hover {
  background-color:#f5f5f5;
  color: #111111;
  border: 2px solid #111111;
}

#statuses {
  margin-top: 20%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

#choices img {
  width: 100%;
  height: auto;
  margin: auto;
}

#choices .row {
  display: flex;
  justify-content: space-around;
}


.card {
  background-color: transparent;
  border: 2px solid #111111;
  padding: 20px;
  margin-top: 4%;
  width: 30%;
}

.card:hover, .clicked {
  background-color: #16530e;
  opacity: 0.9;
  cursor: pointer;
}

h1 {
  margin-top: 4%;
  color: #f5f5f5;
  font-size: 5em;
}

h3 {
  color: #f5f5f5;
  text-decoration: underline;
}

#death {
  padding: 20px;
  font-weight: bold;
}

#death p {
  font-size: large;
}

#mad, #crying, #upset {
  display: none;
  height: 100px;
  width: auto;
  margin: auto;
  margin-top: 2%;
}
#character {
  margin-top: 3%;
}

#info-squirtle, #info-charmander, #info-bulbasaur {
  display: none;
  max-height: 300px;
  background-color: #16530e;
  color: #f5f5f5;
  overflow-y: scroll;
  text-align: left;
  border: 2px solid black;
  border-radius: 10px;
  padding: 4%;
  padding-left: 20%;
  margin-right: 4%;
}

#info-squirtle p, #info-charmander p, #info-bulbasaur p {
  margin: 0;
}

.busy {
  background-color: #16530e;
  color: #111111;
}

.busy:hover {
  background-color: #16530e;
  color: #111111;
}

#currentLevel, #time {
  font-size: 3em;
  color: white;
  font-weight: bolder;
  padding: 10px;
  -webkit-text-stroke-color: #111111;
  -webkit-text-stroke-width: 1.5px;
}


#time {
  display: flex;
  justify-content: center;
}

#emojis {
  height: 150px;
}

button#potion {
  background-color: transparent;
  background-image: url("https://vignette.wikia.nocookie.net/pokemongo/images/7/7a/Potion.png/revision/latest/scale-to-width-down/340?cb=20160717150053");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 25%;
  height: 25%;
  margin-left: 4%;
}

#extras {
  max-height: 500px;
  overflow-y: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
  
button#candy {
  background-color: transparent;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0ab12834-cebb-4832-80fc-780aad043d90/d8nyvh0-36d37aca-c3ea-4a1c-b6b7-32d704657046.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBhYjEyODM0LWNlYmItNDgzMi04MGZjLTc4MGFhZDA0M2Q5MFwvZDhueXZoMC0zNmQzN2FjYS1jM2VhLTRhMWMtYjZiNy0zMmQ3MDQ2NTcwNDYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.aRsKcHyoGgDGUEp9CiML2jduLgEV2cc2xuZZMRE1cEU");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 25%;
  height: 25%;
  margin-left: 4%;
}

#stats {
  margin-left: 20%;
  background-color: #16530e;
  color: #f5f5f5;
  border: 2px solid #111111;
  border-radius: 10px;
  padding: 10%;
  width: 60%;
}