#game, #death {
  display: none;
  border: 2px solid #111111;
}

.clicked {
  border: 2px solid black;
}

#game img {
  margin: 10% auto;
}

.btn {
  margin-top: 2%;
  border: 2px solid #111111;
  color: #111111;
}

.btn:hover {
  background-color: #111111;
  color: #f5f5f5;
}

#statuses {
  margin-top: 20%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
